@font-face {
  font-family: "Crikey Squat";
  src: url("./crikey.ttf");
}

@font-face {
  font-family: "Eigerdals Heavy";
  src: url("./eigerdals.OTF");
}

dt, h2, h1 {
    font-family: "Crikey Squat" !important;
}
* {
    font-family: "Eigerdals Heavy", Arial;
}

@keyframes moduleAnim {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

module .Content {
    background: linear-gradient(180deg, rgba(142,164,255,0.5) 0%, rgba(76,183,189,0.5) 100%);
    margin: 10px;
    border-radius: 10px;
    padding: 25px !important;
    animation: 0.9s moduleAnim ease-out;
    transition: 0.3s scale;
}
module .Content:hover {
    scale: 1.05;
    z-index: 100000;
}

#SubNavigator div {
    display: none;
}

#SecondaryNav {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#PrimaryNav {
    border-bottom-left-radius: 20px;
}

.AvatarImage {
    border-radius: 3px;
    transition: 0.3s scale;
}

.AvatarImage:hover {
    scale: 1.05;
}



#MainContent {
    background-attachment: fixed;
    animation-name: bganim2;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-attachment: fixed;
}

#SubNavigator {
    display: flex !important;
    justify-content: center !important;
}

@keyframes bganim {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: -100px;
        background-position-y: -100px;
    }
}

body {
    background-size: 15px !important;
    animation-name: bganim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-attachment: fixed;
}
